#navbar{
    display: block;
    position:static;
    scroll-behavior: smooth;
    width: 100%;
    height: 400px;
}

.grid-container{
    grid-template-areas: 
    'navbar'
    'mainDoc';
}
#navbar header{
    display:flex;
}

#main-doc{
    margin:0px;
}